src/main/resources/META-INF/dam.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://gbfvip.lab/schema/dam"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://gbfvip.lab/schema/dam"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="class" type="xsd:string" use="required"/>
                    <xsd:attribute name="duration" type="xsd:long" use="optional" default="10"/>
                    <xsd:attribute name="size" type="xsd:long" use="optional" default="1000"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>